{:deps {org.clojure/clojure {:mvn/version "1.10.2-alpha1"}
        org.clojure/tools.analyzer {:mvn/version "1.0.0"}
        ; org.clojure/tools.reader {:mvn/version "1.3.3"}
        borkdude/edamame {:mvn/version "0.0.11-alpha.15"}
        org.clojure/tools.analyzer.jvm {:mvn/version "1.1.0"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}}

 :paths ["src" "resources"]

 :aliases {:test
           {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.641"}}
            :main-opts ["-m" "kaocha.runner"]}

           :test-coverage
           {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.641"}
                         lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}}
            :main-opts ["-m" "kaocha.runner" "--plugin" "cloverage"]}

           :depstar
           {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
            :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
